.menu{
    background-color: #efb810;
}

.fuente{
    color: red;
}

.alineado{
    text-align: center;
    font-size: 38px;
}
.color{
    background-color: blue;
}

.fondo{
    background-color: black;
}